/*

	CSS Syntax
		selector{
			propertyA: valueA;
			propertyB: valueB;
		}
*/
/*
*-universal selector; it selects all elements 
font-family:  "Courier New", monospace; it tells the browser to use Courier New as is main font
*/
*{
	font-family: "Courier New",monospace;
	font-size: 20px;
}
/*html selector -selects all the elements inside the html tags*/

html {
	scroll-behavior: smooth;
}



body {
	background-color: skyblue;
}

nav{
	background-color: lightpink;
}
/*
selector: hover -changes the style of the elements once the mouse is hovered over it ;
*/
a:hover{
	background-color: #b4d6de;
}
/*> - child selector; allows selection of the child of the first selector/element*/
nav > div{
	/*float - changes the horizontal alignment of the element and puts it on the specified position/side.*/


	display: inline-block;
	float: right;
}
/*
body > section > form > label{
	color: orangered;
}*/

/*TAG SELECTION*/

h1 {
	/* 
	!important -overrides/disregards the ranking of priority and makes the property the main priority. 


	rem -root element measurement. html tag is the root element. default measurement for the rem is 16px. */
	color: red !important;
	/* 2rem = 2*16px */
	font-size: 2rem;
	text-align: center;

}

section {
	/* height- changes the height of the element 
	vh - viewport height; the height of the screeen of the user

	 */
	height: 100vh;
	text-align: center;
}

h2 {

	font-size: 1.5rem;
}

ol{
	/* list-style-type =changes the style of the list element */

	list-style-type: none;
}

/* ID SELECTORS
#idNAme{
	property: value;
}

 */

#zuitt-motto{
	letter-spacing: 5px;
	font-size: 30px;
}

/*
class selector =selects the element with the same class name
	.className {
	property: value;
	}
*/
.offered-items{
	text-transform: uppercase;
}


/* 
attribute selector -selects elements with the same wttribute
tag[attribute]{
	property: value;
	}
 */

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}
/*
adjacent sibling selector -selects the sibling element directly after the first element.

*/

h3 + img{

	/* border-radius - it rounds the corner of the element  */
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

/*
descendant selectors
firstselector descendant{
	property: value;
}
*/

section li{
	color: #075966;
}

/*
General sibling selector -selects the sibling element that comes after the first selector


firstSelector ~ secondSelector
*/
h2~a{
	text-decoration: line-through;
}

form{
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: white;
	border:2px solid black;
	width:25vw;
	position: relative;
	left: 37.25%;
}

button{
	color: white;
	background-color: #cf0053;
	border: 0px;
	border-radius: 15px;
}




