




h4 + img {

	height: 100px;
	width: 100px;
	border-radius: 100px;
}

* {
	font-family: serif;

}

 h4~p {
	text-align: center;
	font-size: 15px;
	background-color: grey;


}

ol > li {

	border-width: 2px;
	border-style: solid;
	border-color: navy;
	color: hotpink;
}


ul > li {
	font-family: "Courier New",monospace;
	font-size: 20 px;
	letter-spacing: 8px;
	list-style-position: right;
	list-style-type: none;

}

 body + h4 {
	font-size: 20px;
	list-style-type: upper-greek !important;
}

#tools {
	text-transform: uppercase !important;
}

.lang {
	background-color: hotpink;
}


h4~img {

	border-style: solid;
	border-color: hotpink;
}